
  <div id="pinModal" class="hidden z-[1001] fixed inset-0 flex items-center justify-center bg-black/50">
    <form action="{{ path('pins_new') }}" method="post" id="pinForm" enctype="multipart/form-data">
      <div id="form-body">
        <div id="welcome-lines">
          <div id="welcome-line-1">Muraleando</div>
          <div id="welcome-line-2">Cargá tus fotos!</div>
        </div>
        <div id="input-area">
          <input type="hidden" name="latitude" id="latitude">
          <input type="hidden" name="longitude" id="longitude">
          <div class="form-inp">
                    <input placeholder="Titulo" type="text" name="title" required>
          </div>
          <div class="form-inp">
                    <textarea placeholder="Descripción" name="description"></textarea>
          </div>
          <div class="flex flex-col items-center gap-2">
            <input type="file" id="fileInput" name="images[]" class="hidden" multiple>
            <button type="button" id="customButton" class="px-4 py-2 bg-[#7b2cbf] text-white rounded hover:bg-[#9d4edd] w-full">
              Subir imágenes
            </button>
            <span id="fileName" class="text-gray-600 text-sm">No hay archivos seleccionados</span>
          </div>
        </div>
        <div id="submit-button-cvr" class="flex justify-around">
                  <button type="button" id="cancelBtn" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 cursor-pointer">Cancelar</button>
                  <button type="submit" class="px-4 py-2 bg-[#7b2cbf] hover:bg-[#9d4edd] text-white rounded cursor-pointer">Guardar</button>
        </div>
        <button id="closeModal" class="hidden absolute top-2 right-2 text-gray-500 hover:text-gray-700">&times;</button>
      </div>
    </form>
    </div>
  










<!-- From Uiverse.io by AnthonyPreite --> 

