{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{{ encore_entry_link_tags('homepage') }}
{% endblock %}

<body>
    <div class="banner-homepage">
        <div class="titulo">
            <h1>Pin Your World, Discover Stories</h1>
            <p>Easily mark locations on a map, add details, photos, and explore your saved memories. Start charting your journey today!</p>
            <a href="{{ path('mapa') }}" class="animated-button">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
            </svg>
            <span class="text">Empezá a explorar</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
            </svg>
            </a>
        </div>
        <div class="imagen">
            <img src="{{ asset('images/imagen-prueba.jpg') }}" alt="prueba">
        </div>
    </div>
</body>
