{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('pin') }}
{% endblock %}

{% block title %}Pins{% endblock %}

{% block content %}
<h1 class="text-3xl text-center font-bold mt-5 title">Todos los Pins</h1>

<div class="flex flex-row p-5">
{% for pin in pins %}
                <div class="card-pin comic-brutal-button-container" >
                    <a class="btn-pin comic-brutal-button" href="{{ path('pins_show', {'id': pin.id}) }}">
                        <div class="button-inner">
                        <span class="button-text">{{ pin.title }}</span>
                        <div class="halftone-overlay"></div>
                        <div class="ink-splatter"></div>
                        </div>
                        <div class="button-shadow"></div>
                        <div class="button-frame"></div>
                    </a>
                </div>
{% endfor %}
</div>
{% endblock %}
