body {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}
            /* Reset */
            html, body {
                height: 100%;
                margin: 0;          
                padding: 0;
                overflow: hidden;
                font-family: Arial, sans-serif;
            }

            h1, p{
                color: #391557;
            }

            .logo{
                width: 150px;
            }

            /* Sidebar */
            .sidebar {
                width: 250px;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                border-right: 2px solid white;
                color: white;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 
                0 4px 10px rgba(0, 0, 0, 0.863),  
                0 8px 20px rgba(0, 0, 0, 0.363); 
                position: fixed; /* para que quede sobre el contenido */
                z-index: 1000; /* que esté por encima de todo */
            }

            .sidebar ul {
                list-style: none;
                padding: 0;
            }

            .sidebar ul li .btn-dashboard {
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                display: block;
                text-align: center;
                padding: 20px 0;
            }

            /* Main content */
            .main-content {
                margin-left: 250px;
                display: flex;
                flex-direction: column;
                height: 100vh;
                box-sizing: border-box;
            }

            header {
                color: white;
                padding: 10px;
                text-align: center;
                flex-shrink: 0;
            }

            main {
                flex: 1;
                overflow: auto;
            }

            section {
                margin-bottom: 20px;
                padding: 20px;
                background-color: #ecf0f1;
                border-radius: 8px;
            }


            .contenedor-btn-dashboard{
                background-color: #7B2CBE;
                border-radius: 16px;
                box-shadow: 
                0 4px 6px rgba(0, 0, 0, 0.582),  
                0 3px 10px rgba(0, 0, 0, 0.445)
            }